h1 {
  margin-bottom: 2rem;
  /* Increase space below the heading */
  line-height: 1.4;
  /* Adjust line height to increase space between lines of text */
}

li {
  margin: 1rem 0;
  /* Add top and bottom margin to list items */
  line-height: 1.6;
  /* Increase line height for more space between lines */
  list-style-type: none;
}

input {
  margin: 0.5rem 0;
  /* Add some space above and below input fields */
  padding: 0.5rem;
  /* Add padding inside input fields for better visual and typing experience */
  border: 1px solid #ccc;
  /* Optional: adds a border to make inputs more defined */
  border-radius: 4px;
  /* Optional: rounds the corners of the input fields */
}

.login-button {
  margin-top: 1rem;
  /* Adds space above the button */
  /* Include previous button styles here */
}

/* Previous button styles for a better look */
.login-button {
  background-color: #81D8D0;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 14px;
}

.login-button:hover {
  background-color: #81D8D0;
  transform: scale(1.05);
}

.login-button:active {
  background-color: #eaedf1;
  transform: scale(0.95);
}